
.gif {
    display: flex;
    position:absolute;
    width: 300px;
    height: 300px;  
    top: 38%;
    margin: auto;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
}