button {
  background-color: #000034;
  border: none;
  margin: 5px;
  border-radius: 6px;
}

.btn {
  font-size: 14px;
  font-weight: 600;
  border: none;
  box-shadow: 0 0 20px #11324D 0.8;
  transition: 0.4s;
  background-color: #012443;
  color: #fff;
  border: none;
}

.btn:hover {
  color: #df7005;
  box-shadow: 0 0 20px #11324D 0.6;
  background-color: #11324D;
}

.select {
  background-color: #c94b4b;
  background: #c94b4b;
  color: #fff;
  animation-name: my-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes my-animation {
  0% {
    border: 2px solid #fff;
  }
  50% {
    border: 2px solid rgba(255, 255, 255, 0.243);
  }

  100% {
    border: 2px solid #fff;
  }
}

.option {
  color: #fff;
  font-size: 12px;
}

.card {
  display: flex;
  width: 15rem;
  flex-direction: row;
  border-radius: 20px;
  margin: auto;
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #2c616100;
}

.card img {
  border-radius: 15px;
}

.card-title {
  color: #fff;
  font-size: 28px;
}

.card-body {
  min-width: 250px;
  padding: 40px;
  text-align: center;
}

.options select {
  width: 120px;
  background-color: #bc454b;
  color: #fff;
  border: 2px solid #c94b4bc6;
  display: flex;
  margin: 10px auto;
  padding: 5px 3px;
  border-radius: 5px;
}

.lobby {
  height: 93.2vh;
  overflow: hidden;
}

.matchs {
  background-color: #c94b4b33;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #c94b4bc6;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  max-width: 700px;
}

.match-info {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 20px;
}

.match-info h3 {
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  padding-right: 80px;
  margin-bottom: 0;
  line-height: 2;
}

.join {
  display: flex;
  margin-right: 20px;
}

.join button {
  background-color: #000034;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
}

.join button:hover {
  color: #df7005;
  background-color: #000034e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.matchList {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 15px;
  padding: 6px;
}







.tabs {
  float: none;
  list-style: none;
  position: relative;
  text-align: left;
}


.tabs li {
    float: left;
    display: block;
  }

.tabs input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }

.tabs label {
    display: block;
    padding: 10px 21px;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    color: white;
    /* background-color: #c94b4b; */
    background-color: #c94b4b33;
    box-shadow: rgb(0 0 0 / 24%) 0px 0px 5px;
    border: 2px solid #c94b4bc6;
    margin-bottom: 0;
  }
  .tab-content{
    z-index: 2;
    display: none; 
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 15px;
    position: absolute;
    left: 0; 
  }


  .tab1{
    border-top-left-radius: 8px;
    margin-left: 180px;
  }

  .tab2 {
    border-top-right-radius: 8px;
  }

  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: flex;
    flex-direction: column;
  }







.history {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.games {
  background-color: #c94b4b33;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #c94b4bc6;
  border-radius: 10px;
  padding: 10px 0 10px 0;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.games-info {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 30px;
}

.hp {
  padding-right: 80px !important;
}

.games-info h3 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding-right: 50px;
  margin-bottom: 0;
  line-height: 2;
}

.game-info {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 20px;
}


.game-info h3 {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  padding-right: 80px;
  margin-bottom: 0;
  line-height: 2;
}




@media (max-width: 991px) {
  .match-info {
    padding: 0 20px 0 20px;
  }

  .match-info h3 {
    font-size: 15px;
    padding-right: 50px;
  }

  .join {
    margin-left: 60px;
  }

  .join button {
    font-size: 15px;
    padding: 5px 15px;
  }
}

@media (max-width: 771px) {
  .card {
    width: 16rem;
    flex-direction: column;
  }

  .match-info h3 {
    font-size: 12px;
    line-height: 2.5;
    padding-right: 40px;
  }

  .join {
    margin-left: 0px;
  }

  .match-info {
    padding: 0 0 0 20px;
  }
}

@media (max-width: 545px) {
  .card-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: auto;
    width: 225px;
  }

  .match-info h3 {
    font-size: 12px;
    padding-right: 30px;
  }
}

@media (max-width: 500px) {
  .card {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .card-body {
    padding: 15px;
  }

  .match-info {
    padding: 0 0 0 10px;
  }
  .match-info h3 {
    font-size: 12px;
    width: auto;
    padding-right: 15px;
  }
}

@media (max-width: 410px) {
  .matchs {
    display: flex;
    flex-direction: column;
  }

  .match-info {
    padding-right: 10px;
  }

  .match-info h3 {
    padding-right: 15px;
    line-height: 1.5;
  }

  .join {
    padding-top: 10px;
    text-align: center;
    margin: auto;
  }
  .join button {
    font-size: 12px;
    padding: 5px 25px;
  }
}

@media (min-width: 771px) {
  .card {
    margin-left: 17%;
  }
}

@media (min-width: 991px) {
  .card {
    margin-left: 25%;
  }
}

@media (min-width: 1200px) {
  .card {
    margin-left: 30%;
  }
}

