<div class="lobby">
  <div class="card">
    <img
      class="card-img-top"
      src="assets/images/tictac.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Tic Tac Toe</h5>
      <div class="options">
        <form [formGroup]="gameForm" (ngSubmit)="onSubmit()">
          <select
            class="select"
            formControlName="size"
            (change)="selectSize($event)"
          >
            <option [ngValue]="null" disabled required>
              <p>Select size</p>
            </option>
            <option
              *ngFor="let size of boardSize"
              [ngValue]="size.cellNumber"
              class="option"
            >
              {{ size.name }}
            </option>
          </select>
          <select
            class="select"
            formControlName="score"
            (change)="selectScore($event)"
          >
            <option [ngValue]="null" disabled required>Select score</option>
            <option
              class="option"
              *ngFor="let score of scoreToPlay"
              [ngValue]="score.score"
            >
              {{ score.score }}
            </option>
          </select>
            <button (click)="sendData()" class="btn btn-primary" type="submit">
              Create Match
            </button>

          <div class="alert alert-danger" role="alert" *ngIf="!submitted">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="parent">
    <ul class="tabs" role="tablist">
      <li class="togg">
          <input type="radio" name="tabs" id="tab1" checked />
          <label for="tab1" 
                 role="tab" 
                 aria-selected="true" 
                 aria-controls="panel1" 
                 tabindex="0"
                 class="tab1">Games</label>
          <div id="tab-content1" 
               class="tab-content" 
               role="tabpanel" 
               aria-labelledby="description" 
               aria-hidden="false">
                <div class="matchs" *ngFor="let match of tables">
                  <div class="match-info">
                    <h3>Status: {{ match.stateId }}</h3>
                    <h3>Board Size:{{ match.boardSize }}</h3>
                    <h3>Score: {{ match.targetScore }}</h3>
                  </div>
                  <div class="join">
                    <button (click)="joinGame(match.gameId)">Join</button>
                  </div>
                </div>
                <div class="matchs" *ngFor="let match of lists">
                  <div class="match-info">
                    <h3>Status: {{ match.stateId }}</h3>
                    <h3>Board Size:{{ match.boardSize }}</h3>
                    <h3>Score: {{ match.targetScore }}</h3>
                  </div>
                  <div class="join">
                    <button (click)="reconnect(match.gameId)">Rejoin</button>
                  </div>
                </div>
          </div>
      </li>
      <li>
          <input type="radio" name="tabs" id="tab2" />
          <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" 
                 tabindex="0" class="tab2">History</label>
          <div id="tab-content2" 
               class="tab-content"
               role="tabpanel" 
               aria-labelledby="specification" 
               aria-hidden="true">
                  <div class="matchs">
                    <div class="match-info">
                      <h3>You/Opp</h3>
                      <h3>Scores</h3>
                      <h3>size</h3>
                      <h3>Target</h3>
                      <h3>Winner</h3>
                    </div>
                  </div>
                  <div class="matchs" *ngFor="let game of games" >
                    <div class="match-info">
                      <h3>{{ game.yourName }} / {{ game.opponentName }}</h3>
                      <h3>{{ game.yourScore }} / {{ game.opponentScore }} </h3>
                      <h3>{{ game.boardSize }} </h3>
                      <h3>{{ game.targetScore }} </h3>
                      <h3>{{ game.winnerName }} </h3>
                    </div>
                  </div>
          </div>
      </li>
    </ul>
  </div>
</div>
