
<div class="cont">
    <div class="content">
        <img ngClass="gif" *ngIf="bannerW" src="../../assets/images/winner.gif" alt="winner">

        <img ngClass="gif" *ngIf="bannerL" src="../../assets/images/loser.gif" alt="loser">

        <img ngClass="gif" *ngIf="bannerD" src="../../assets/images/draw.gif" alt="draw">

        <!-- <iframe ngClass="gif" *ngIf="bannerW" src="https://giphy.com/embed/0KXekb55GlLIOdhXC8" width="384" height="480" frameBorder="0" class="giphy-embed" allowFullScreen 
        ></iframe>
        
        <iframe ngClass="gif" *ngIf="bannerL" src="https://giphy.com/embed/mcH0upG1TeEak" width="480" height="206" frameBorder="0" class="giphy-embed"></iframe>

        <iframe ngClass="gif" *ngIf="bannerD" src="https://giphy.com/embed/jMQ9pIL6UjPd9fo2KA" width="480" height="302" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
    </div>
</div>

<!-- <div class="matchs" *ngFor="let match of tables">
        <h3>{{ match.playerOne.userName}} </h3>
        <h3>{{match.playerTwo.userName}}</h3>
</div> -->