* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: #c94b4b;
  background: -webkit-linear-gradient(to top, #4b134f, #c94b4b);
  background: linear-gradient(to top, #4b134f, #c94b4b);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

canvas {
  display: flex;
  margin: auto;
}

html,
body {
  height: 240%;
  overflow: hidden;
  min-width: 600px;
}
