<div class="container" >
  <div class="lobby" *ngIf="!isD">
    <img src="../../assets/images/tictac.jpg" alt="#" />
    <div class="welc">
      <h1>To play game Login or Register</h1>
      <div class="but">
        <button routerLink="/register">
          Register
        </button>
        <button routerLink="/login">Login</button>
      </div>
    </div>
  </div>

  <div class="lobby" *ngIf="isD">
    <img src="../../assets/images/tictac.jpg" alt="#" />
    <div class="aut">
      <h1>Log in to TicTacToe's Lobby</h1>
      <button (click)="login()">Log In</button>
    </div>
  </div>
</div>
