* {
    box-sizing: border-box;

}

.welcome {
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

h1, h3 {
    color: #FFF;
    padding: 5px;
}

.auth {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
}

button {
    margin: 5px;
    border-radius: 6px;
}

.card {
    border-radius: 20px;
}


.options select{
    width: 120px;
    background-color: #fff;
    display: flex;
    margin: 10px 0 10px 0;
    border: 2px solid grey;
    border-radius: 5px;
}


.btn {
    margin-left: 0px;
}


.lobby {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.058);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    display: flex;
    width: 600px;
}

.lobby img {
    border-radius: 15px;
    width: 300px;
}

.lobby h1 {
    padding: 10px;
    margin-top: 80px;
    text-align: center;
    align-items: center;
}

.aut {
    margin-left: 10px;
}

.aut button {
    background-color: #347474;
    color: #fff;
    margin-left: 35%;
    width: 80px;
    padding: 7px;
    border: none;
}

.aut button:hover {
background-color: #2c6161;
}
