<div class="container">
  <div class="welcome">
    <h1>Welcome to Online TicTacToe game</h1>
    <h3>To play game Login or Register</h3>
  </div>
  <div class="auth">
    <button class="btn btn-primary btn-sm" routerLink="/register">
      Register
    </button>
    <button class="btn btn-secondary btn-sm" routerLink="/login">Login</button>
  </div>
  <div class="lobby">
    <img src="../../assets/images/tictac.jpg" alt="#">
    <div class="aut">
      <h1>Log in to TicTacToe's Lobby</h1>
      <button>Log In</button>
    </div>
  </div>
</div>
