<div class="wrapper">
  <div class="container" id="container">
    <div class="sign-up-container">
      <form action="#"
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
      >
        <h1>Create Account</h1>
        
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="form.firstName"
            required
            minlength="3"
            maxlength="20"
            #firstname="ngModel"
          />
          <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
            <div *ngIf="firstname.errors['required']">First Name is required</div>
            <div *ngIf="firstname.errors['minlength']">
              First Name must be at least 3 characters
            </div>
            <div *ngIf="firstname.errors['maxlength']">
              First Name must be at most 20 characters
            </div>
          </div>
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              class="form-control"
              name="lastname"
              [(ngModel)]="form.lastName"
              required
              minlength="3"
              maxlength="20"
              #lastname="ngModel"
            />
            <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
              <div *ngIf="lastname.errors['required']">Last Name is required</div>
              <div *ngIf="lastname.errors['minlength']">
                Last Name must be at least 3 characters
              </div>
              <div *ngIf="lastname.errors['maxlength']">
                Last Name must be at most 20 characters
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              name="username"
              [(ngModel)]="form.userName"
              required
              minlength="6"
              maxlength="20"
              #username="ngModel"
            />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors['required']">Username is required</div>
              <div *ngIf="username.errors['minlength']">
                Username must be at least 6 characters
              </div>
              <div *ngIf="username.errors['maxlength']">
                Username must be at most 20 characters
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button>Sign Up</button>
        </div>
        <div class="alert-warning" *ngIf="f.submitted && !isSuccessful">
          Failed!<br />{{ errorMessage }}
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isSuccessful">
        <div class="succ">
          <h1>Your registration is successful!</h1>
          <div class="timer">
            <button routerLink="/login">
              Redirect to login
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <img class="right-panel-img" src="assets/images/20220524_152224.jpg"
      >
    </div>
  </div>
</div>



